
<form [formGroup]="articleForm" (ngSubmit)="submit()">
  <h1 *ngIf="edit">Modifier el Articulo</h1>
  <h1 *ngIf="!edit">Créer el Articulo</h1>
  <table>
    <tr>
      <td>Titre</td>
      <td><input formControlName="title"></td>
    </tr>
    <tr>
      <td>Contenu</td>
      <td><textarea formControlName="content"></textarea></td>
    </tr>
    <tr>
      <td>Auteurs</td>
      <td><input formControlName="authors"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button *ngIf="edit" class="btn btn-success" [disabled]="articleForm.invalid" type="submit">Updation</button>
        <button *ngIf="!edit" class="btn btn-success" [disabled]="articleForm.invalid" type="submit">Enregistrado</button>
      </td>
    </tr>
  </table>
</form>