.searchForm {
  position: relative;
  display: table;
  height: 100%;
  padding: 0 10px;
}

.searchForm > .form {
  display: table-cell;
  vertical-align: middle;
}

.searchForm > .form > input[type=text] {
  border: 1px solid #E0E0E0;
  background: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 10px;
}

.searchForm > .form > ul {
  display: none;
  background: white;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 100%;
  right: 0;
  width: 300px;
}

.searchForm > .form > ul.active {
  display: block;
}

.searchForm > .form > ul > li {
  display: block;
}

.searchForm > .form > ul > li > a {
  display: inline-block;
  padding: 5px 10px;
}