<div id="banner"></div>

<div class="padding">
  Hello et bienvenue sur notre super blog de la mort qui tue la vie !!
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class="padding">
  <h1>Dernier article</h1>
  <app-article [article]="article" [hiddenBtn]="true"></app-article>
  <a class="read-more" routerLink="/articles">Voir plus d'actus...</a>
</div>
